.pagination {
  display: flex;
  gap: 12px;
}

.pagination__btn {
  width: 26px;
  height: 24px;

  font-size: 12px;
  font-weight: 500;
  line-height: 1;
  background-color: $bg-color-tertiary;
  border: 1px solid $color-border-primary;
  border-radius: 4px;
}

.pagination__icon {
  width: 8px;
  height: 12px;

  &--rotated {
    transform: rotate(180deg);
  }
}

.pagination__dots {
  transform: translateY(3px);
}
