$mobile: 480px;
$tablet: 768px;
$laptop: 1100px;
$desktop: 1440px;

$color-text-primary: #292d32;
$color-text-secondary: #9197b3;
$color-text-tertiary: #b5b7c0;
$color-text-success: #16c098;
$color-text-error: #df0404;

$color-border-primary: #eeeeee;

$bg-color-primary: #ffffff;
$bg-color-secondary: #f5f7fd;
$bg-color-tertiary: #f5f5f5;
$bg-color-accent: #5932ea;
$bg-color-success: rgba(22, 192, 152, 0.38);
$bg-color-error: #ffc5c5;
